* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
  
    background: transparent;
  
    font-family: inherit;
    
    text-decoration: none;
}
  
ol, ul, li {
    list-style:none;
    display:block;
}
  
table {
    border-collapse:collapse;
    border-spacing:0
}
  
a img {
    border: none
}
  
button, a {
    cursor: pointer;
    color: inherit
}
  
textarea {
    resize: none
}
  
button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0
}

body {
    background: linear-gradient(90deg, #144BE0 0%, #6166B3 72%);
    margin: 5% 0;
}

/********************************************* DO ********************************************/

#topsection {
    display: grid;
    grid-template-columns: repeat(18, 4vw);
    grid-template-rows: repeat(17, 4vw);
    gap: 0.5vw;
    justify-content: center;
}

@keyframes sqrdo-colorchange {
    from {background: #32C1CD;}
    to {background: transparent;}
}

.sqr-do {
    display: inline-block;
    animation-name: sqrdo-colorchange;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes sqrdoclrd-colorchange {
    from {background: transparent;}
    to {background: radial-gradient(circle, #17D7A0 0%, transparent 75%);}
}

.clrd.sqr-do {
    animation-name: sqrdoclrd-colorchange;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/********************************************* NOT ********************************************/

@keyframes sqrnot-colorchange {
    from {background: #17D7A0;}
    to {background: radial-gradient(circle, #6166B3 0%, #17D7A0 100%);}
}

.sqr-not {
    display: inline-block;
    background-color: #17D7A0;
}

.clrd.sqr-not {
    animation-name: sqrnot-colorchange;
    animation-duration: 120ms;
    animation-iteration-count: infinite;
}
/********************************* UNDERESTIMATE THE POWER OF ********************************/

#midsection {
    width: 100vw;
    font-family: 'Raleway', sans-serif;
    color: #17D7A0;
    text-align: center;
}

#underest {
    width: 100vw;
    font-size: 10vw;
}

#power {
    width: 100vw;
    font-size: 20vw;
}

p span {
    color: #32C1CD;
}


/********************************************* DIVS ********************************************/

@keyframes sqrdiv-colorchange {
    from {background: linear-gradient(90deg, rgba(246,45,45,1) 0%, rgba(224,208,20,1) 17%, rgba(100,211,55,1) 35%, rgba(37,224,246,1) 52%, rgba(83,78,238,1) 72%, rgba(242,27,199,1) 91%, rgba(226,38,57,1) 107%);}
    to {background: transparent;}
}

#bottom-section {
    display: grid;
    grid-template-columns: repeat(18, 4vw);
    grid-template-rows: repeat(9, 4vw);
    gap: 0.5vw;
    justify-content: center;
}

.sqr-div {
    display: inline-block;
    background: linear-gradient(90deg, rgba(246,45,45,1) 0%, rgba(224,208,20,1) 17%, rgba(100,211,55,1) 35%, rgba(37,224,246,1) 52%, rgba(83,78,238,1) 72%, rgba(242,27,199,1) 91%, rgba(226,38,57,1) 107%);;
}

.clrd.sqr-div {
    animation-name: sqrdiv-colorchange;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
}